*{
    margin:0;
    padding:0;

}



.logo {
    width: 30px;
   
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: center;
    border: 40px solid white;
    border-radius:50px 50px 0px 0px;
    padding: 30px;
    background-color:#F6F8FC;
    
   
   
}
.style{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    color:gray;
    
    
}

.account {
    
    margin-left: 35px;
}

 .code-container{
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-clamp:3;
    line-clamp:3;
    width: 400px;
    margin-left: 120px;
    color:gray;

   }
   
.number{
    color:#0097A7;
    margin-right: 190px;
    font-weight: bold;
   }

.email-container{
    margin-right: 10px;
    margin-bottom:10px;
    color:gray;
   
}

.team-container{
    margin-right:80px;
    color:gray;
    
}
.color{
    border-radius: 0px 0px 50px 50px;
    border:30px solid white;
    background-color:#00BCD4;
    height:60px;
}

.forment {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
    gap: 20px;
}
.main-container {
    border: 30px solid white;
    border-radius:50px;
   
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color:gray;

    
    

}
.some{
    color:#00BCD4;
}

   

    
    
